/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	font-family: 'Poppins', sans-serif;
}

/* =========== START PAGE ACCUEIL =========== */

.container {
	position: relative;
	height: 100vh;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('../IMG/baniere1.jpg');
	background-size: cover;
	background-position: center;
	padding: 0 8%;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px 0;
}

nav .logo {
	width: 200px;
	cursor: pointer;
}

nav .cart {
	width: 40px;
	cursor: pointer;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	padding-right: 40px;
	text-align: right;
	list-style-type: none;
}

ul li {
	margin-right: 10px;
}

ul li a {
	position: relative;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

ul li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	transform: translateX(-50%) translateY(-5px);
	height: 3px;
	background: #353E55;
	transition: 0.3s;
}

ul li a:hover::after {
	width: 38%;
}

.site-container {
	position: absolute;
	bottom: 10%;
	color: #fff;
}

.site-container p {
	font-size: 50px;
	font-weight: bold;
}

.site-container h1 {
	font-size: 120px;
	line-height: 120px;
	margin-left: -10px;
	color: transparent;
	-webkit-text-stroke: 1px white;
	background: url('../IMG/pattern.png');
	-webkit-background-clip: text;
	background-clip: text;
	background-position: 0 0;
	animation: animate 20s linear 2s infinite alternate;
}

@keyframes animate {
	100% {
		background-position: -500px 0;
	}
}

.site-container .row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 40px;
}

.row a {
	display: flex;
	align-items: center;
	padding: 5px 20px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	margin-right: 40px;
	font-size: 18px;
	transition: 0.3s;
}

.row a:hover {
	background-color: #fff;
	color: #000;
}

.row a span {
	font-size: 15px;
	font-weight: bold;
	line-height: 2;
	margin-left: 10px;
}

.row span {
	font-size: 18px;
}

.social-icons {
	position: absolute;
	right: 5%;
	bottom: 8%;
}

.social-icons a {
	padding: 5px;
	margin-right: 4px;
}

/* =========== END PAGE ACCUEIL =========== */

/* ***********************************************
*********************************************** */

/* =========== START PAGE DASHBORD =========== */

.material-icons-outlined{
	vertical-align: middle;
	line-height: 1px;
}

.grid-container{
	display: grid;
	grid-template-columns: 260px 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 3fr;
	grid-template-areas: 'sidebar header header header' 'sidebar main main main';
	height: 100vh;
}

/* ==== Header ==== */
.header{
	grid-area: header;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.4);
	/* background-color: #234; */
}

.menu-icon{
	display: none;
}

/* ==== Sidebar ==== */
#sidebar{
	grid-area: sidebar;
	color: rgb(24, 148, 225);
	height: 100%;
	overflow-y: auto;
	transition: all .3s ease-in;
	background-color: #890;
}

.sidebar-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin-bottom: 32px;
	color: #000;
}

.sidebar-brand{
	font-size: 20px;
	font-weight: 300;
}

.sidebar-list{
	padding: 0;
	margin-top: 16px;
	list-style-type: none;
}

.sidebar-list-item{
	padding: 20px;
	transition: .3s ease-in;
}

.sidebar-list-item:hover{
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

/* ==== Main ==== */
.main-container{
	grid-area: main;
	overflow-y: auto;
	padding: 20px;
	/* background-color: #ADE; */
}

.main-title{
	display: flex;
	justify-content: space-between;
}

.main-title > p{
	font-size: 20px;
}

.main-cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
	margin: 20px 0;
}

.card{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-transform: uppercase;
	padding: 24px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(194, 194, 194);
	border-radius: 10px;
	box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.4);
}

.card > span{
	font-size: 24px;
	font-weight: 700;
	padding: 8px 0;
}

.card-inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
}

.card-inner > p{
	font-size: 20px;
}

.card-inner > span{
	font-size: 40px;
}

.card:nth-child(1){
	border-left: 8px solid blue;
}

.stats{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.stats-card{
	background-color: rgb(161, 231, 21);
	padding: 25px;
	margin-bottom: 20px;
	border: 1px solid rgb(194, 194, 194);
	box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.4);
}

.stat-title{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: 600;
}
.fw-600{
	font-weight: 600;
}


/* ========= RESPONSIVE =========== */
/* *md mw <= 992px */

@media screen and (max-width: 992px) {
	.grid-container{
		grid-template-columns: 120px 1fr;
		grid-template-areas: 'sidebar header' 'sidebar main';
	}

	.sidebar-title{
		justify-content: center;
	}

	.sidebar-title > span{
		display: inline;
	}

	.sidebar-brand > .label-title{
		display: none;
	}

	.sidebar-list{
		text-align: center;
	}

	.sidebar-list-item > .label-item{
		display: none;
	}

	.sidebar-list-item > :not(.label-item),
	.sidebar-brand > :not(.label-title){
		font-size: 36px;
	}
}

/* *sm mw <= 768px */

@media screen and (max-width: 768px) {
	.grid-container{
		position: relative;
		grid-template-columns: 1fr;
		grid-template-areas: 'header' 'main';
	}

	.main-cards{
		grid-template-columns: 1fr;
		gap: 10px;
		margin-bottom: 0;
	}

	.stats{
		grid-template-columns: 1fr;
		margin-top: 30px;
	}

	#sidebar{
		position: absolute;
		width: 120px;
		transform: translateX(-120px);
	}

	.menu-icon{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: .3s ease-in;
	}

	.menu-icon:hover{
		background-color: rgba(0, 0, 0, 0.2);
		cursor: pointer;
	}

	.sidebar-responsive{
		display: block;
		transform: translateX(0) !important;
	}

	.sidebar-responsive + .main-container{
		width: calc(100% - 120px);
		transform: translateX(120px);
		transition: .3s ease-in;
		overflow-x: hidden;
	}

	.stats-card *{
		width: 100% !important;
	}
}

/* *xs mw <= 576px */

@media screen and (max-width: 768px) {
	#sidebar{
		width: 70px;
	}

	.sidebar-responsive + .main-container{
		width: calc(100% - 70px);
		transform: translateX(70px);
	}
}

/* =========== END PAGE DASHBORD =========== */